// Get your Google Fonts here https://google-webfonts-helper.herokuapp.com/
// Use woff and woff2 to ensure all browsers have support

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('~assets/fonts/roboto-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('~assets/fonts/roboto-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('~assets/fonts/roboto-mono-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('~assets/fonts/roboto-mono-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
	font-family: 'TradeGothic LT CondEighteen';
	src: url('~assets/fonts/TradeGothicLT-CondEighteen.eot');
	src: url('~assets/fonts/TradeGothicLT-CondEighteen.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/TradeGothicLT-CondEighteen.woff') format('woff'),
		url('~assets/fonts/TradeGothicLT-CondEighteen.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Trade Gothic LT Std';
	src: url('~assets/fonts/TradeGothicLTStd-BdCn20.eot');
	src: url('~assets/fonts/TradeGothicLTStd-BdCn20.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/TradeGothicLTStd-BdCn20.woff') format('woff'),
		url('~assets/fonts/TradeGothicLTStd-BdCn20.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/* open-sans-condensed-300 - latin */
@font-face {
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 300;
	src: url('~assets/fonts/open-sans-condensed-v15-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('~assets/fonts/open-sans-condensed-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('~assets/fonts/open-sans-condensed-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
		 url('~assets/fonts/open-sans-condensed-v15-latin-300.woff') format('woff'), /* Modern Browsers */
		 url('~assets/fonts/open-sans-condensed-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('~assets/fonts/open-sans-condensed-v15-latin-300.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
  }
  /* open-sans-condensed-700 - latin */
  @font-face {
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 700;
	src: url('~assets/fonts/open-sans-condensed-v15-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('~assets/fonts/open-sans-condensed-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('~assets/fonts/open-sans-condensed-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		 url('~assets/fonts/open-sans-condensed-v15-latin-700.woff') format('woff'), /* Modern Browsers */
		 url('~assets/fonts/open-sans-condensed-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('~assets/fonts/open-sans-condensed-v15-latin-700.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
  }


/* open-sans-300 - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url('~assets/fonts/open-sans-v20-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('~assets/fonts/open-sans-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('~assets/fonts/open-sans-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
		 url('~assets/fonts/open-sans-v20-latin-300.woff') format('woff'), /* Modern Browsers */
		 url('~assets/fonts/open-sans-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('~assets/fonts/open-sans-v20-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-regular - latin */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('~assets/fonts/open-sans-v20-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('~assets/fonts/open-sans-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('~assets/fonts/open-sans-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('~assets/fonts/open-sans-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('~assets/fonts/open-sans-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('~assets/fonts/open-sans-v20-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-600 - latin */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url('~assets/fonts/open-sans-v20-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('~assets/fonts/open-sans-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('~assets/fonts/open-sans-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
		 url('~assets/fonts/open-sans-v20-latin-600.woff') format('woff'), /* Modern Browsers */
		 url('~assets/fonts/open-sans-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('~assets/fonts/open-sans-v20-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-700 - latin */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('~assets/fonts/open-sans-v20-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('~assets/fonts/open-sans-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('~assets/fonts/open-sans-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		 url('~assets/fonts/open-sans-v20-latin-700.woff') format('woff'), /* Modern Browsers */
		 url('~assets/fonts/open-sans-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('~assets/fonts/open-sans-v20-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-800 - latin */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: url('~assets/fonts/open-sans-v20-latin-800.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('~assets/fonts/open-sans-v20-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('~assets/fonts/open-sans-v20-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
		 url('~assets/fonts/open-sans-v20-latin-800.woff') format('woff'), /* Modern Browsers */
		 url('~assets/fonts/open-sans-v20-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('~assets/fonts/open-sans-v20-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
